html,
body {
  width: 100%;
  height: 100%;
}

body,
#app {
  font-family: 'Open Sans', sans-serif;
  background-color: $black;
  max-width: $container-max-widths;
  margin: 0;
  display: flex;
  justify-content: center;
  color: $white;
}

strong {
  font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}
